<html>
    <h1>Formulário de Cadastro de Transações</h1>
    <form>
        <label>
            Tipo
            <input type="text" name="tipo">
        </label>
        <label>
            Descrição
            <input type="text" name="descricao">
        </label>
        <label>
            Data da Transação
            <input type="text" name="dataTransacao">
        </label>
        <label>
            Valor
            <input type="text" name="valor">
        </label>
        <button type="submit">Salvar</button>
    </form>
</html>